* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
    display: flex;
    justify-content: center;
    padding-top: 60px;
    min-height: 100vh;
}

.app {
    width: 500px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 32px;
    color: #5e548e;
}

.stats {
    margin-top: 5px;
    font-size: 14px;
    color: #6d6875;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.input-card {
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

input, select {
    padding: 10px;
    border-radius: 12px;
    border: none;
    outline: none;
    flex: 1;
}

button {
    padding: 10px 15px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: #ffafcc;
    color: #5e548e;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    transform: translateY(-2px);
    background: #ffc8dd;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.filters button {
    background: rgba(255,255,255,0.6);
}

ul {
    list-style: none;
}

li {
    background: rgba(255,255,255,0.7);
    padding: 15px;
    border-radius: 18px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease;
    animation: fadeIn 0.3s ease;
}

li:hover {
    transform: scale(1.02);
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-left {
    cursor: pointer;
}

.delete-btn {
    background: transparent;
    font-size: 18px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}